/* #tabs {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

#tabs li {
    float: left;
    margin: 0;
}

#tabs li a {
    position: relative;
    padding: 10px 50px;
    float: left;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}

.ccc {
    background-color: black;
}

.ccc a {
    color: #fff;
}

.current a {
    outline: 0;
    z-index: 4;
}

.hoverItem a {
    background: black;
    color: #fff;
}

.tab {
    display: none;
}

.show {
    display: block;
} */

body {
    color: #333;
    line-height: 1.8;
    letter-spacing: 0.08rem;
    font-family: open sans, helvetica neue, helvetica, arial, sans-serif
}